@import "tailwindcss";
@import "../../src/theme.css";
@source "../../src";


.code-block > pre {
  margin: 0;
  max-height: 30rem;
  overflow: auto;
  padding: 1rem 5rem 1rem 1rem;
  font-size: 0.75rem;
  line-height: 1.7;
  background-color: transparent !important;
}

.dark .code-block .shiki,
.dark .code-block .shiki span,
.high-contrast .code-block .shiki,
.high-contrast .code-block .shiki span {
  color: var(--shiki-dark) !important;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.high-contrast) .code-block .shiki,
  :root:not(.light):not(.high-contrast) .code-block .shiki span {
    color: var(--shiki-dark) !important;
  }
}
